.container {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #95E1D3;
    border-radius: 15px;
    padding: 6px;
    margin-top: 100px;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 227, 213);
    font-family: "Courier New", Courier, monospace;
}

.conDisplay {
    flex: 1;
    display: flex;
}

.conNumPad {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.conNumPad div {
    flex: 1;
    display: flex;
    align-items: center;
}

button {
    flex: 1;
    padding: 5px;
    height: 50px;
    margin: 5px;
    background-color: #FCE38A;
    border-width: 0px;
    border-radius: 15px;
    font-size: 18px;
}

.display {
    flex-direction: column;
    display: flex;
    justify-content: right;
    flex: 1;
    margin: 12px;
    margin-bottom: 4px;
    background-color: #EAFFD0;

}

.displayText {
    text-align: right;
    margin-top: auto;
    margin-bottom: 6px;
    font-size: 48px;
    margin-right: 8px;
    display: inline-block; /* or block */
    width: 268px; /* Set a fixed width */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
}

div {
    border-radius: 15px;
}

.opButton,
.equalButton,
.clearButton {
    background-color: #F38181;
}
.topDisplay {
    margin: 12px;
    font-size: 20px;
}

.deleteButton {
    background-color: #EAFFD0;
}